<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {{- $len := len .Ancestors -}}
      {{- range $index, $element := .Ancestors.Reverse -}}
      {
        "@type": "ListItem",
        "position": {{ add $index 1 }},
        "item": {
          "@id": "{{ $element.Permalink }}",
          "name": "{{ $element.LinkTitle }}"
        }
      }{{ if lt $index (sub $len 1) }},{{ end }}
      {{- end -}}
      {{- if gt $len 0 -}},{{ end -}}
      {
        "@type": "ListItem",
        "position": {{ add $len 1 }},
        "item": {
          "@id": "{{ .Permalink }}",
          "name": "{{ .LinkTitle }}"
        }
      }
    ]
  }
</script>
