<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {{- $len := len .Ancestors -}}
      {{- $first := true -}}
      {{- range $index, $element := .Ancestors -}}
        {{- if not $element.IsHome -}}
          {{- if not $first -}},{{ end -}}
          {
            "@type": "ListItem",
            "position": {{ add $index 1 }},
            "item": {
              "@id": "{{ $element.Permalink }}",
              "name": "{{ $element.LinkTitle }}"
            }
          }
          {{- $first = false -}}
        {{- end -}}
      {{- end -}}
      {{- if gt $len 0 -}}
        {{- if not $first -}},{{ end -}}
        {
          "@type": "ListItem",
          "position": {{ add $len 1 }},
          "item": {
            "@id": "{{ .Permalink }}",
            "name": "{{ .LinkTitle }}"
          }
        }
      {{- end -}}
    ]
  }
</script>
