<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "LegalService",
    "name": "Sener Hukuk Bürosu",
    "description": "İstanbul'da faaliyet gösteren Şener Hukuk Bürosu kurumsal ve bireysel müvekkillerine danışmanlık ve dava süreçlerinin takibi hizmeti vermektedir.",
    "url": "https://senerlegal.com",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": " İçerenköy Mahallesi Topçu İbrahim Sokak Quick Tower No:8-10D",
      "addressLocality": "Ataşehir",
      "addressRegion": "İstanbul",
      "postalCode": "34000",
      "addressCountry": "Turkey"
    },
    "openingHours": "Mo,Th 10:00-20:00"
  }
</script>
