<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Ali Cem Şener",
    "jobTitle": "Attorney at Law / Avukat",
    "worksFor": {
      "@type": "Organization",
      "name": "Şener Hukuk Bürosu"
    },
    "url": "https://senerlegal.com",
    "email": "info@senerlegal.com",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "İstanbul",
      "addressRegion": "Türkiye"
    },
    "alumniOf": [
      {
        "@type": "EducationalOrganization",
        "name": "Kadir Has Üniversitesi",
        "degree": "Lisans Derecesi Hukuk"
      },
      {
        "@type": "EducationalOrganization",
        "name": "Kadıköy Anadolu Lisesi"
      }
    ],
    "skill": ["Taşınmaz Hukuku", "Kamulaştırma Hukuku", "Şirketler Hukuku"]
  }
  </script>